<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230856154821-u4fohq4rrnok57or3c18p9atp3botthd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230856154821-u4fohq4rrnok57or3c18p9atp3botthd</string>
	<key>API_KEY</key>
	<string>AIzaSyCDTGeVz4EDBcGD-cI15_3nsLunpEeujeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>230856154821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CIS-350.Car-Diognostic</string>
	<key>PROJECT_ID</key>
	<string>car-diognosis</string>
	<key>STORAGE_BUCKET</key>
	<string>car-diognosis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230856154821:ios:b443ee326b56876feedaac</string>
</dict>
</plist>